

.login-form{
    justify-content: center;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input{
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-evenly;
}
.div-buttons{   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}
.reg-form{
    height: 350px;
}

.reg-input{
    display: flex;
    flex-direction: column;
    height: 292px;
    justify-content: space-evenly;
}