.footer-area{
    background-color: #2E1D1E !important;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    padding: 21px;
    color: white;
    width: 214%;
    padding-left: 94px;
    // width: 900px;
}

@media only  screen and (max-width: 360px) {
    .footer-area{
        width: 78%;
    }
}
@media screen and (max-width: 600px) {
    .footer-area {
       font-size: 11px;
    }
}
